@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto&display=swap');
body {
  font-family: 'Heebo', 'Roboto', sans-serif;
}

#root, #status-bar, table {
  margin-top: 20px; /* force space between components */
}

.header-phone-number {
  font-weight: bold;
  color: #707070;
}

.status {
  cursor: pointer;
  display: inline-flex;
}

.show-status {
  display: block;
}

.hide-status {
  display: none;
}
